{{ define "body_schmema" }} itemscope itemtype="http://schema.org/Article" {{ end }}

{{ define "main" }}
<article class="pv3 ph4 mb5 f6 f5-ns">
	<div class="measure-wide-ns bg-white ph2 ph3-ns br3 ba b--near-white shadow-3">
		<section class="measure-wide-ns mid-gray nested-copy-line-height nested-img nested-links">					
			{{ .Content }}
		</section>
	</div>
</article>

<div class="pv3 ph4 f5">
	<ul class="list pl0 gray">			
	{{if .PrevInSection}}<li>Previous: <a class="link blue underline-hover hover-dark-blue" href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Date.Format "January 2, 2006 3:04pm" }}</a></li>{{end}}
	{{if .NextInSection}}<li>Next: <a class="link blue underline-hover hover-dark-blue" href="{{.NextInSection.RelPermalink}}">{{.NextInSection.Date.Format "January 2, 2006 3:04pm" }}</a></li>{{end}}
	</ul>
</div>
{{ end }}