{{ define "body_schmema" }} itemscope itemtype="http://schema.org/Article" {{ end }}

{{ define "main" }}	
<article class="ph3 ph4-ns">
        {{ if .Title }}
        <header>
                <h2 class="mt2 f4 ttu tracked lh-title lh-solid-ns fw3 black-50 helvetica">
                        {{- .Title -}}
                </h2>
        </header>
        {{ end }}
        
        <section class="measure measure-wide-l nested-copy-line-height nested-img nested-figure nested-embeds nested-hr nested-code nested-list nested-blockquote nested-dt nested-table nested-link nested-form">
                {{- .Content -}}
        </section>

</article>
{{ end }}