<li class="relative">
	<article class="pv3 ph4 mb5">
		<i class="absolute left--1 bg-white br-100 pa2 gray fa fa-fw fa-pencil" aria-hidden="true"></i>
		<header class="measure-wide-ns">
			<h1 class="mv0 fw3 f3 f2-ns lh-title"><a href="{{ .Permalink }}" rel="bookmark" class="link black-80 underline-hover hover-dark-blue">{{ .Title|title }}{{ if .GetParam "draft"}} DRAFT{{end}}</a></h1>
			<time class="mt1 lh-copy fw2 f7 f6-ns ttu tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" pubdate><a href="{{ .Permalink }}" class="link gray underline-hover hover-blue">{{ .Date.Format "January 2, 2006" }}</a></time>
		</header>
		<section class="mid-gray measure-wide-ns nested-copy-line-height nested-blockquote nested-img nested-links">
			{{ .Content }}
		</section>		
	</article>
</li>
