<article id="{{ dateFormat "w15:04" .Date }}" class="pb3 {{ if .Title }} bt-0 bl-0 br-0 bb b--dashed b--black-50{{ end }}">
{{ if .Title }}
    <header>
        <h3 class="f5 f4-ns black-70 lh-copy">
            {{- .Title -}}
            <a href="{{ dateFormat "/2006/01/02/#w15:04" .Date }}" rel="bookmark" class="f6 link dark-blue hover-blue">↩︎</a>
        </h3>
    </header>
{{ end }}
    <section class="{{ if (not .Title) }}content mv3{{end}} measure measure-wide-l nested-copy-line-height nested-img nested-figure nested-embeds nested-hr nested-code nested-list nested-blockquote nested-dt nested-table nested-link nested-form">
	    {{- .Content -}}
        {{ if (not .Title) }}
        <a href="{{ dateFormat "/2006/01/02/#w15:04" .Date }}" rel="bookmark" class="di f6 link dark-blue bg-animate hover-purple i">⇜</a>
        {{ end }}
	</section>
</article>