					<section class="mb4">
						<header>
							<h1 class="fw5 f3 f6-ns dark-gray lh-title ttu-ns tracked-ns">About</h1>
						</header>
						<section class="black-60 measure measure-narrow-l nested-copy-line-height">
							<p><span class="dib link bg-dark-pink white ph2 ttu tracked-tight">soypunk.me</span> is written and produced by Shawn Medero from Claremont, California.{{ if ne .Title "About" }} <a href="/about/" class="link b dark-pink hover-bg-near-white hover-hot-pink" title="About">Need more?</a>{{ end }}</p>
						</section>
					</section>					
					<section class="mb4">
						<header>
							<h1 class="fw5 f3 f6-ns dark-gray lh-title ttu-ns tracked-ns">Sections</h1>
						</header>
						<section class="black-60 measure measure-narrow-l nested-copy-line-height">
							<ul class="pl0 list">
								<li class="bb b--moon-gray"><a href="/posts/" class="db pv2 ph1 ma--2 ttu tracked-tight link b dark-pink hover-bg-near-white hover-hot-pink">Posts</a></li>
								<li class="bb b--moon-gray"><a href="/links/" class="db pv2 ph1 ma--2 ttu tracked-tight link b dark-pink hover-bg-near-white hover-hot-pink">Links</a></li>																
								<li class="bb b--moon-gray"><a href="/minis/" class="db pv2 ph1 ma--2 ttu tracked-tight link b dark-pink hover-bg-near-white hover-hot-pink">Minis</a></li>
								<li class="bb b--moon-gray"><a href="/contact/" class="db pv2 ph1 ma--2 ttu tracked-tight link b dark-pink hover-bg-near-white hover-hot-pink">Contact</a></li>								
							</ul>
						</section>
					</section>
					<section class="mb4">
						<header>
							<h1 class="fw5 f3 f6-ns dark-gray lh-title ttu-ns tracked-ns">Social</h1>
						</header>					
						<section class="black-60 measure measure-narrow-l nested-copy-line-height">
							<ul class="pl0 list">
							{{ with .Site.Params.twitter }}<li class="bb b--moon-gray"><a href="{{ . }}" class="db pv2 ph1 ma--2 ttu tracked-tight link b dark-pink hover-bg-near-white hover-hot-pink">@soypunk <i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a></li>{{ end }}					
							</ul>
						</section>
					</section>