		<div class="flex flex-none pt5 pt6-ns">
			<header id="masthead" role="banner" class="absolute top-0 left-0 w-100 z-5">
				<div class="cf relative h3 h4-ns bg-white bb b--light-gray">
					<div class="cf mw8 pv0 ph2 ph3-ns center">
						<div class="fl">
							<a class="relative dib h3 h4-ns pv1 pv3-ns v-mid link mid-gray hover-dark-pink lh-solid" href="/" rel="home" title="Home">
								<h1 class="mt3 mv4-ns pa0 lh-solid fw1 f3 f2-ns ttu tracked">{{ .Site.Title }}</h1>
							</a>
						</div>						
						<div class="fr">
							<a class="relative dib h3 h4-ns pv3 pv4-ns v-mid mid-gray link dim lh-solid" href="/about/" title="About">
								<img src='{{ "images/bw-photo-avatar.jpg" | absURL }}' class="w2 h2 w3-ns h3-ns br-100" alt="Shawn Medero's avatar">
							</a>						
						</div>						
					</div>
				</div>
			</header>
		</div>