<footer class="ph3 ph4-ns pb3">
	<h6 class="f7 b mb0">Elsewhere</h6>
	<ul class="list mt0 pl0 f7">
		<li class="dib ma0 mr2">
			<a href="{{ .Site.Params.microdotblog }}" class="link underline gray">Micro.blog</a>
		</li>
		<li class="dib ma0 mr2">
			<a href="{{ .Site.Params.instagram }}" class="link underline gray">Instagram</a>
		</li>
		<li class="dib ma0 mr2">
			<a href="{{ .Site.Params.goodreads }}" class="link underline gray">Goodreads</a>
		</li>
		<li class="dib ma0 mr2">
			<a href="{{ .Site.Params.twitter }}" class="link underline gray">Twitter</a>
		</li>		
	</ul>
	<p class="f7 gray">© {{now.Format "2006"}}. {{ .Site.Params.owner }}</p>
</footer>