{{ define "main" }}

	{{ with .Content }}	
	<section class="ph3 ph4-ns measure measure-wide-l nested-copy-line-height nested-img nested-figure nested-embeds nested-hr nested-code nested-list nested-blockquote nested-dt nested-table nested-link nested-form">
		{{.}}
	</section>
	{{ end }}

	{{ $paginator := .Paginate (where .Data.Pages "Section" "in" (slice "posts" "photos")) }}
	{{ range $paginator.Pages.GroupByDate "Monday, 2 January 2006" }}
		{{ $page := index .Pages 0 }}{{/* Each group has at least 1 page */}}
		<section class="ph3 ph4-ns">
			<h2 class="mt2 f4 ttu tracked lh-title lh-solid-ns fw3 black-50 helvetica">
				<a href="{{ dateFormat "/2006/01/02/" $page.Date }}" rel="archives" class="link black-50 hover-blue underline-hover">
					{{ .Key }}
				</a>
			</h2>
			<ul class="ma0 pa0 list">
			{{ range .Pages.ByDate.Reverse }}
				{{ .Render "li" }}
			{{ end }}
			</ul>
		</section>		
	{{ end }}

{{ end }}

{{ define "pagination" }}

	{{ partial "pagination.html" . }}

{{ end }}